/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Cabin", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.1;
  margin-bottom: 0.7rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.3;
}

li {
  margin-bottom: 0.4rem;
  line-height: 1.3;
}

a {
  color: blue;
  text-decoration: none;
}

div.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 42rem min-content;
  grid-gap: 8rem;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}

header {
  background-color: #eee;
  grid-area: 1/1/2/-1;
  padding: 0 2 rem;
}

main {
  background-color: white;
  grid-area: 2/1/3/13;
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}
main ul li a {
  text-decoration: none;
}
main > section:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
main > section:first-child > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16.875rem;
  background: linear-gradient(45deg, white, #f8c995, transparent 75%);
  background-repeat: no-repeat;
  padding: 48px 0;
  padding-bottom: 20px;
  position: relative;
}
main > section:first-child > div:first-child h2:first-child {
  position: absolute;
  top: 8px;
  left: 50%;
}
main > section:first-child > div:first-child > div:first-child {
  background-image: url("../images/about-us-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #eee;
  width: 40%;
  height: 125%;
  position: relative;
  bottom: 48px;
}
main > section:first-child > div:first-child > div:nth-child(2) {
  width: 50%;
}
main > section:first-child section.notifications {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  grid-gap: 1rem;
  grid-auto-flow: row;
}
main > section:first-child section.notifications li a {
  color: blue;
  text-decoration: none;
}
main > section:first-child section.notifications div:nth-child(1) {
  grid-area: 1/1/2/2;
  padding: 0.5rem 1rem;
}
main > section:first-child section.notifications div:nth-child(2) {
  grid-area: 1/2/2/3;
  padding: 0.5rem 1rem;
}
main > section:first-child section.notifications div:nth-child(3) {
  grid-area: 1/3/2/4;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
}
main aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10%;
  padding-left: 3.75rem;
  border-left: 3px solid #eee;
}
main aside section.photo-gallery {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}
main aside section.photo-gallery div:not(:last-child) {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main aside section.photo-gallery div:not(:last-child):nth-child(1) {
  grid-area: 1/1/2/2;
  background-image: url("../images/jercuts-5.webp");
}
main aside section.photo-gallery div:not(:last-child):nth-child(2) {
  grid-area: 1/2/2/3;
  background-image: url("../images/jercuts-7.jpg");
}
main aside section.photo-gallery div:not(:last-child):nth-child(3) {
  grid-area: 1/3/2/4;
  background-image: url("../images/jercuts-7.jpg");
}
main aside section.photo-gallery div:not(:last-child):nth-child(4) {
  grid-area: 2/1/3/2;
  background-image: url("../images/jercuts-8.png");
}
main aside section.photo-gallery div:not(:last-child):nth-child(5) {
  grid-area: 2/2/3/3;
  background-image: url("../images/jercuts-9.jpg");
}
main aside section.photo-gallery div:last-child {
  grid-area: 2/3/3/4;
  justify-self: center;
  align-self: end;
}
main aside section.video-gallery {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(50% - 1rem) 50%;
  grid-gap: 1rem;
}
main aside section.video-gallery video {
  width: 100%;
  height: 100%;
}
main aside section.video-gallery video:nth-child(1) {
  grid-area: 1/1/2/2;
}
main aside section.video-gallery video:nth-child(2) {
  grid-area: 2/1/3/2;
}

footer {
  grid-area: 3/1/4/-1;
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
  padding-top: 4rem;
  background-color: #ffa4a4;
  padding: 1rem 2rem;
  position: relative;
}
footer .affiliations {
  display: flex;
  gap: 4rem;
  position: absolute;
  bottom: 10px;
  align-items: center;
}
footer ul {
  list-style-type: square;
  list-style-position: inside;
}
footer ul:not(:last-of-type) {
  min-width: max-content;
}
footer ul:last-of-type {
  flex-grow: 1;
}
footer ul h2 {
  position: relative;
  transition: all 300ms ease 0ms;
}
footer ul h2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 50px;
  height: 2px;
  transition: all 300ms ease 0ms;
  background-color: #222;
}
footer ul h2:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
}
footer ul li:hover::marker {
  color: #323264;
}
footer ul li a {
  text-decoration: none;
  color: #222;
}

.footer-info {
  display: flex;
  flex-direction: column;
  background-color: #ffa4a4;
  padding: 1rem 2rem;
}
.footer-info h3 {
  position: relative;
  margin-bottom: 20px;
}
.footer-info h3::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 50px;
  height: 2px;
  transition: all 300ms ease 0ms;
  background-color: #222;
}
.footer-info h3:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 120px;
  height: 2px;
  background-color: #222;
}
.footer-info p {
  max-width: 50%;
  color: #333;
}
.footer-info > ul {
  display: flex;
  gap: 2rem;
}
.footer-info > ul li {
  transform: scale(1);
  transition: transform 100ms ease 0ms;
}
.footer-info > ul li a {
  color: blue;
  text-decoration: none;
}
.footer-info > ul:first-of-type li:hover {
  transform: scale(1.5);
}
.footer-info > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-info > div ul {
  display: flex;
  gap: 2rem;
}
.footer-info > div ul li {
  position: relative;
}
.footer-info > div ul li::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  transition: all 300ms ease 0ms;
  background-color: blue;
}
.footer-info > div ul li:hover::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: blue;
}
.footer-info > div ul li a {
  color: blue;
  text-decoration: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #7b7ecb;
  padding: 0;
  margin: 0 auto;
}

::marker {
  color: #f5d0ff;
}

.weWorkFor {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 4px;
  position: relative;
}
.weWorkFor h2 {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  z-index: 100;
}
.weWorkFor img:nth-of-type(1) {
  grid-area: 1/1/2/2;
}
.weWorkFor img:nth-of-type(2) {
  grid-area: 1/2/2/3;
}
.weWorkFor img:nth-of-type(3) {
  grid-area: 2/1/3/2;
}
.weWorkFor img:nth-of-type(4) {
  grid-area: 2/2/3/3;
}
.weWorkFor img:nth-of-type(5) {
  grid-area: 3/1/4/2;
}
.weWorkFor img:nth-of-type(6) {
  grid-area: 3/2/4/3;
}
.weWorkFor div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  align-self: flex-end;
  height: 24px;
  opacity: 0.9;
  font-size: 0.87rem;
  font-weight: 600;
}
.weWorkFor div:nth-of-type(1) {
  grid-area: 1/1/2/2;
  background-color: #f99aa3;
}
.weWorkFor div:nth-of-type(2) {
  grid-area: 1/2/2/3;
  background-color: #7ac3f7;
}
.weWorkFor div:nth-of-type(3) {
  grid-area: 2/1/3/2;
  background-color: #9cdc6b;
}
.weWorkFor div:nth-of-type(4) {
  grid-area: 2/2/3/3;
  background-color: #c48ff5;
}
.weWorkFor div:nth-of-type(5) {
  grid-area: 3/1/4/2;
  background-color: #82baf9;
}
.weWorkFor div:nth-of-type(6) {
  grid-area: 3/2/4/3;
  background-color: #f9bb73;
}

.whatsNew a {
  transition: all 100ms 0ms ease;
}
.whatsNew a:hover {
  text-decoration: underline;
}
.whatsNew h2:nth-of-type(1) {
  background-color: #ff981c;
  padding: 4px 8px;
  position: relative;
  width: 200px;
}
.whatsNew h2:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  transform: rotate(45deg);
  background-color: white;
  right: -17px;
}
.whatsNew hr {
  margin-bottom: 8px;
}

.noticeBoard a {
  transition: all 100ms 0ms ease;
}
.noticeBoard a:hover {
  text-decoration: underline;
}
.noticeBoard h2:nth-of-type(1) {
  background-color: #ff981c;
  padding: 4px 8px;
  position: relative;
  width: 200px;
}
.noticeBoard h2:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  transform: rotate(45deg);
  background-color: white;
  right: -17px;
}
.noticeBoard hr {
  margin-bottom: 8px;
}

footer,
main,
.container {
  max-width: 95vw;
}

.about_us::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 50px;
  height: 2px;
  transition: all 300ms ease 0ms;
  background-color: #222;
}
.about_us:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
}

.owl-carousel {
  width: 100vw;
  height: 300px;
}
.owl-carousel .item {
  background-image: url("https://picsum.photos/1350/300");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.owl-carousel .item.item1 {
  background-image: url("../images/slider-1.jpg");
}
.owl-carousel .item.item2 {
  background-image: url("../images/slider-4-1.png");
}
.owl-carousel .item.item3 {
  background-image: url("../images/slider-3-1.png");
}
.owl-carousel .item.item4 {
  background-image: url("../images/slider-4-1.png");
}
.owl-carousel .owl-nav {
  display: none;
}
.owl-carousel .owl-dots {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
}
.owl-carousel .owl-dots .owl-dot span {
  transition: all 300ms ease 0ms !important;
}
.owl-carousel .owl-dots .owl-dot.active span {
  width: 30px;
  background-color: pink !important;
}

.utility-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 32px;
  background-color: #eeb676;
  color: #fff;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.utility-bar a {
  color: #222 !important;
}

.utility-bar a:hover {
  text-decoration: underline !important;
  color: #222 !important;
}

.text-resizer a:hover {
  text-decoration: none !important;
}

/* updations made by arhan */
section.custom-widgets {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

body.layout-full {
  background-color: #fff;
}

.text-resizer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.text-resizer > span {
  cursor: pointer;
}

#decrease-size,
#increase-size,
#reset-size {
  font-size: 1rem;
  font-weight: 500;
  color: #222;
}

.no-margin-bottom {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.no-margin-bottom span {
  font-size: 0.87rem;
}

.right-border {
  padding-right: 1rem;
  border-right: 3px solid #222;
}

/*# sourceMappingURL=style.css.map */
